
.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: left;

}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.column {
  float: left;
  width: 20%;
  padding: 3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.p
{
  font-style:'Garamound';
}

